<div class="mt-4 mb-4">
    <h1 class="display-5">Login</h1>
  </div>
<main class="form-signin">
    <form [formGroup]="LoginForm">      
      <label for="inputEmail" class="visually-hidden">Nombre de usuario</label>
      <input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="visually-hidden">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
    </form>
  </main>
