<footer class="mt-auto text-white-50 bg-aqua">
    <div class="row bg-aqua">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="row g-3">                
                <div class="col-auto">
                  <label for="correo" class="visually-hidden">Correo electrónico</label>
                  <input type="email" class="form-control" id="correo" placeholder="Correo electrónico">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Suscribir</button>
                </div>
              </form>
        </div>
    </div>
</footer>
