<div class="row pt-4 my-md-5 pt-md-5 " *ngIf="curso">
<div class="col-8">
    <div>
        <img [src]="curso.image" class="card-img-top" class="img-thumbnail" >
    </div>
    <div>
        <h4>{{ curso.name }}</h4>
    </div>
    <div>
        {{ curso.summary }}
    </div>
    
</div>
<div class="col-4">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Curso precio
          <span class="text-danger">{{curso.price}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Instructor
            <span class="text-danger">{{curso.instructor}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Duración
            <span class="text-danger">{{curso.duration}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Lecturas
            <span class="text-danger">{{curso.lessons}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Matriculados
            <span class="text-danger">{{curso.students}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Idioma
            <span class="text-danger">{{curso.language}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Duración
            <span class="text-danger">{{curso.duration}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Fecha limite
            <span class="text-danger">{{curso.deadline}}</span>
          </li>
      </ul>
</div>
</div>
